.cart-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .empty-cart {
    text-align: center;
    width: 100%;
  }
  
  .cart-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .cart-items {
    margin: 10px;
    width: 300px;
  }
  
  .cart-items img {
    height: 50px;
    width: 50px;
    margin-right: 10px;
  }
  
  .item-details {
    display: flex;
    align-items: center;
  }
  
  .item-icons {
    display: flex;
    margin-top: 1rem;
  }
  
  .icon {
    cursor: pointer;
    max-height: 20px;
    margin-right: 1rem;
  }
  
  .shipping-payment {
    margin: 20px;
    padding: 20px;
    width: 300px;
  }
  
  .shipping-info,
  .payment-info {
    margin-bottom: 20px;
  }
  
  .shipping-form label,
  .payment-form label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .shipping-form input,
  .payment-form input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }
  
  .submit-button {
    background-color: #1976d2;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .cart-items {
      width: 100%;
    }
  
    .shipping-payment {
      width: 100%;
    }
  }
  